@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100&display=swap');

/* Reset styling */
html, body, div, span, applet, object, iframe,
h1, h2, p, a {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.6;
    background-image: url('world-map2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Fraunces', serif;
    font-weight: 100;
    color: #000;
    padding-top: 100px;
}

#container {
    margin: auto;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

#languageSelector {
    position: absolute;
    top: 10px;
    left: 10px;
}

#languageSelector a {
    text-decoration: underline; /* Adds underline to the language toggle links */
    color: #000;
    cursor: pointer;
    font-family: 'Fraunces', serif;
    font-weight: bold; /* Makes the text bold */
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
}

h1, h2, p, a {
    font-family: 'Fraunces', serif;
    font-weight: 100;
    color: #000;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 60px;
}

h2 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    line-height: 1.3;
}

.date-header {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 60px;
}

.the, .ampersand, .dancing-script {
    font-family: 'Dancing Script', cursive;
}

.the {
    font-size: 40px;
    font-weight: normal;
}

.ampersand {
    font-size: 25px;
}

.bold-names, #englishContent p, #frenchContent p {
    font-weight: bold;
}

p {
    line-height: 1.8;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.date-countdown {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 50px;
}

a {
    display: inline-block;
    background-color: #ffffff;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    h1, h2 {
        font-size: 20px;
        line-height: 1.3;
    }

    .date-countdown {
        font-size: 14px;
    }

    #countdown {
        font-size: 1.5em;
    }

    p {
        font-size: 18px;
        line-height: 1.8;
    }

    a {
        padding: 10px 20px;
    }

    #container {
        width: 95%;
        padding: 10px;
    }
}
